[user]
  name = {{git_user_realname}}
  email = {{git_user_email}}

[core]
  editor = {{git_editor}}

[alias]
  aliases = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort
  amend = commit --amend
  back = checkout "-"
  branches = branch -a
  branchout = checkout -b
  co = checkout
  contributors = shortlog -s -n
  discard = checkout --
  filetrail = log --follow -p -w
  graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
  history = log -10 --format=format:'%Cgreen%h %Creset• %s (%cN, %ar)'
  last = log -1 HEAD --format=format:"%Cred%H"
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  mergetrail = log --ancestry-path --merges
  move = mv
  nevermind = !git reset --hard HEAD && git clean -d -f
  prestage = diff -w --word-diff=color
  precommit = diff --cached -w --word-diff=color --word-diff-regex='[^[:space:]<>]+'
  remotes = remote -v
  remove = rm
  rewrite = rebase -i
  s = status
  stashes = stash list
  summary = status -u -s
  tags = tag
  uncommit = reset --mixed HEAD~
  unmerged = branch --no-merged
  unstage = reset -q HEAD --
  unstash = stash pop
  untrack = rm -r --cached
  what = show -w

[blame]
  date = relative

[merge]
  conflictstyle = diff3

[push]
  default = current

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = red
